
* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

a {
    color: #777;
    text-decoration: none;
}

footer .footer-inner {
    background: #111;
    color: #bbb;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .footer-inner h1,
footer .footer-inner h2 {
    color: #fff;
}

footer .footer-inner div {
    margin: 2rem;
}

footer .footer-inner div p {
    word-break: break-all;
}

footer .footer-inner div ul {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    width: 20rem;
}

footer .footer-inner div ul li {
    color: #fff;
    border-radius: .2rem;
    background: #333;
    margin: .2rem;
    opacity: .7;
    padding: .2rem 1rem;
}

footer .footer-inner div:first-child {
    width: 20rem;
}

main div.main-inner {
    overflow: hidden;
}

nav,
.nav-sm-screen {
    background: #fff;
    box-shadow: 1px 2px 19px #888;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    position: fixed;
    width: 100%;
    z-index: 10;
}

nav div:first-child,
.nav-sm-screen div:first-child {
    display: flex;
    position: relative;
}

nav div:first-child h1,
.nav-sm-screen div:first-child h1 {
    background: #fff;
    height: 2rem;
    position: relative;
    transform: translateX(.5rem);
    z-index: 10;
}

nav div:first-child h2,
.nav-sm-screen div:first-child h2 {
    border-radius: .5rem;
    border: 5px solid #dfdf4d63;
    height: 3.5rem;
    position: absolute;
    transform: translateY(-.4rem);
    width: 9rem;
}

nav div img,
.nav-sm-screen div img {
    background: #dfdf4d63;
    cursor: pointer;
    margin-inline: 1rem;
    padding: .5rem;
    width: 2.5rem;
    transform: translateY(.75rem);
}

nav div p {
    transform: translateY(-1.2rem);
}

nav div strong {
    margin-inline: .5rem;
}

section.sec-1 {
    align-items: center;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;
}

section.sec-2 {
    display: flex;
    justify-content: center;
    padding-bottom: 4rem;
}

section.sec-2 .services img, section.sec-2 .services {
    width: 17rem;
}

section.sec-2 .services .services-img { 
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: .5rem;
    height: 15rem;
    margin-bottom: 1rem;
    width: 17rem; 
}

section.sec-2 .sec-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90vw;
}

section.sec-2 .sec-inner .services {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

section.sec-2 .sec-inner .services p {
    color:#444;
    text-decoration:none;
}

section.sec-2 .sec-inner .services .services-text {
    margin: .5rem;
} 

section.sec-1 .sec-1-inner {
    align-items: center;
    background: rgba(0, 0, 0, .4); 
    display: flex;
    height: 100vh;
    justify-content: center;
    padding: 1rem;
    width: 100vw;
}

section.sec-1 .sec-1-inner button {
    background: rgba(0, 0, 0, .7);
    border: none;
    border-radius: .2rem;
    color: #fff;
    cursor: pointer;
    margin-top: 1rem;
    padding: 1.5rem 2rem;
}

section.sec-1 .sec-1-inner h1 {
    color: #fff;
    font-family: verdana;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}
 
section.sec-1 .sec-1-inner h4 {
    color: #fff; 
    letter-spacing: .05rem;
    margin-bottom: 1rem;
    text-align: right;
    text-decoration: underline; 
    text-decoration-color: #dfdf4d63;
    text-decoration-style: dashed;
}
 
section.sec-1-sub {
    align-items: center;
    background: #eee;
    display: flex;
    justify-content: center; 
}

section.sec-1-sub .sec-1-sub-inner {  
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
}

section.sec-1-sub .sec-1-sub-inner .door {
    font-size: small;
    padding: 2rem;
}

section.sec-1-sub .sec-1-sub-inner .door:hover {  
    border: 7px solid #dfdf4d63; 
    transition: .5s;
}

section.sec-1-sub .sec-1-sub-inner .door div {
    align-items: center;
    display: flex;
    justify-content: center;
}

section.sec-1-sub .sec-1-sub-inner .door div:last-child {
    margin-top: 2rem;
}

section.sec-1-sub .sec-1-sub-inner .door div img {
    width: 5rem;
}

section.sec-3 .sec-3-inner button {
    background: #222;
    border: none;
    border-radius: .2rem;
    color: #fff;
    font-weight: bold;
    letter-spacing: .09rem;
    margin-top: 1rem;
    padding: 1rem 1rem;
}
 
section.sec-2  small {
    text-align: center;  
}

section.sec-2-title {
    color: #333;
    font-family: verdana;
    font-size: 2.5rem;
    padding: 2rem;
    text-align: center;
    text-decoration: overline; 
    text-decoration-style: dashed;
}

section.sec-3 {
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: flex-end;
    padding: 5rem;
}

section.sec-3 .sec-3-inner,
section.sec-5 .sec-5-inner div form {
    background: #fff;
    border-radius: 2rem;
    padding-block: 2rem;
    width: 32rem;
}

section.sec-3 .sec-3-inner input,
section.sec-5 .sec-5-inner div input {
    border: none;
    border-bottom: 1px solid #ddd;
    color: blue;
    padding: 1rem;
    margin: 1rem;
    outline: none;
    width: 30rem;
}

section.sec-3 .sec-3-inner input:focus {
    border-bottom: 3px solid blue;
}

section.sec-3 .sec-3-inner button,
section.sec-5 .sec-5-inner div button,
section.sec-5 .sec-5-inner div textarea {
    width: 30rem;
}

section.sec-3 .sec-3-inner button,
section.sec-3 .sec-3-inner h1,
section.sec-3 .sec-3-inner label {
    margin-left: 1rem;
}

section.sec-3 .sec-3-inner h1,
section.sec-5 .sec-5-inner div h1 {
    border-bottom: 3px solid #ff00009e;
}

section.sec-4 {
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    display: flex; 
    padding: 5rem;
    height: 100vh;
}

section.sec-4 .sec-4-inner {
    width: 35rem;
}
 
section.sec-4 .sec-4-inner div {
    background: #dfdf4d63;
    border-radius: 1rem;
    padding: 5rem;
}
   
section.sec-4 .sec-4-inner div h2 {
    font-family: arial;
    font-size: xxx-large;
}

section.sec-4 .sec-4-inner div p {
    margin: 4rem 0 2rem;
} 

section .sec-5 {
    box-shadow: 1px 2px 19px #ddd;
}

section.sec-5 .sec-5-inner {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section.sec-5 .sec-5-inner div button {
    background: #fff;
    cursor: pointer;
    border-radius: 4rem;
    border: 2px solid #333;
    margin-block: 1rem;
    padding: 1rem;
}
 
section.sec-5 .sec-5-inner div input {
    margin-left: 0;
}

section.sec-5 .sec-5-inner div textarea {
    border: none;
    border-bottom: 1px solid #ddd;
    color: blue;
    font-size: smaller;
    outline: none;
    padding: 1rem;
    resize: none;
}

section.sec-5 .sec-5-inner .sec-5-inner-wrapper  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 68rem;
}

section.sec-5 .sec-5-inner .sec-5-inner-sub {
    border-left: 1px solid #0d0d0d9e;
    border-bottom: 1px solid #0d0d0d9e;
    display: flex;
    padding: 1rem;
}

section.sec-5 .sec-5-inner .sec-5-inner-sub div {
    margin: 1rem;
} 

section.sec-5 .sec-5-inner .sec-5-inner-sub div img {
    width: 2rem;
}

section.sec-5 .sec-5-inner .sec-5-inner-sub:nth-child(2) div img,
section.sec-5 .sec-5-inner .sec-5-inner-sub:nth-child(3) div img {
    width: 2.5rem;
}

section.sec-5 .sec-5-inner .sec-5-inner-sub div p {
    margin-bottom: 1rem;
}

ul {
    list-style-type: none;
}

@media (max-width: 1583px) {
    section.sec-4 .sec-4-inner div {
        background: rgba(0, 0, 0, .4); 
        color: #eee;
      }
}

@media (min-width: 1134px) {
    main {
        background: #eee;
        display: flex;
        justify-content: center;
    }

    main div.main-inner {
        background: #fff;
        width: 83vw;
    }

    section.sec-1-sub {
        background: #fdfbfb;
    }

    section.sec-3 {
        padding: 5rem 0;
    }
}

@media (min-width: 810px) {
    .nav-sm-screen {
        display: none;
    }
}

@media (max-width: 810px) {
    nav {
        display: none;
    }

    .nav-sm-screen {
        justify-content: space-between;
    }

    .nav-sm-screen div img {
        transform: translateY(0);
    }

    .nav-sm-screen h1 {
        font-size: 1.2rem;
    }
}

@media (min-width: 1072px) {
    section.sec-1 { 
        background-size: contain; 
    }    
}

@media (max-width: 900px) {
    section.sec-1 {
        background-position: unset;
    }
}

@media (max-width: 684px) {
    section.sec-3 {
        justify-content: center;
    } 

    section.sec-3 .sec-3-inner .sec-3-input {
        align-items: center;
        display: flex;
        flex-direction: column;
    } 
}

@media (max-width: 606px) {
    section.sec-5 .sec-5-inner .sec-5-inner-wrapper {
        justify-content: flex-start;
    }

    section.sec-5 .sec-5-inner .sec-5-inner-sub {
        border-left: unset;
        display: block;
        width: 100%;
    }
}

@media (max-width: 508px) { 
    section.sec-3 .sec-3-inner input,
    section.sec-3 .sec-3-inner button,
    section.sec-3 .sec-3-inner h1,
    section.sec-5 .sec-5-inner div input,
    section.sec-5 .sec-5-inner div form,
    section.sec-5 .sec-5-inner div textarea,
    section.sec-5 .sec-5-inner div button {
        width: 95vw; 
    }

    section.sec-2-title, 
    section.sec-1-sub-title {
        font-size: xx-large;
    }
}

@media (max-width: 372px) {
    section.sec-4 {
        height: unset;
    }
    
    section.sec-4 .sec-4-inner div {
        padding: 0;
    }
}

@media (max-width: 358px) {
    footer .footer-inner div ul {
        width: 90vw;
    }
}

@media (max-width: 338px) {
    section.sec-5 .sec-5-inner .sec-5-inner-wrapper {
        font-size: smaller;
    }
}
