
* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    box-shadow: 1px 2px 19px #eee;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

nav div:first-child {
    display: flex;
    position: relative;
}

nav div:first-child h1 {
    background: #fff;
    height: 2rem;
    position: relative;
    transform: translateX(.5rem);
    z-index: 10;
}

nav div:first-child h2 {
    border-radius: .5rem;
    border: 5px solid #dfdf4d63;
    height: 3.5rem;
    position: absolute;
    transform: translateY(-.4rem);
    width: 9rem;
}

nav div img {
    background: #dfdf4d63;
    margin-inline: 1rem;
    padding: .5rem;
    width: 2.5rem;
    transform: translateY(.75rem);
}

nav div p {
    transform: translateY(-1.2rem);
}

nav div strong {
    margin-inline: .5rem;
}

section {
    display: flex;
    justify-content: center;
}

section .doors img, section .doors {
    width: 17rem;
}

section .doors .doors-img { 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 15rem;
    width: 17rem; 
}

section .sec-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90vw;
}

section .sec-inner .doors {
    margin: 1rem;
}

section .sec-inner .doors .doors-text {
    margin: .5rem;
} 